#mainContainer{
    margin-bottom: 50px;
    margin-top:50px
}

#TTTContainer{
    width: 798px;
    background-color: #fff;
}

.DetailContainer{
    margin-top: 20px !important;
    height:50px;
 
}

.MainContainer{
    margin-top: 20px !important;
    height: 500px;
    background-color: blue
  
}
#Score{
    width:200px;
    height:50px;
    background-color:#172b4d;
    border-radius:5%;
    color:#fff;
    font-weight:bold;
    font-size: 23px;
}

.scoreItem{
    float:left;
}

.paramBtn{
    width: 120px !important;
    margin-left: 100px;
}

.choiceCard:hover {
    cursor: pointer;
    height: 310px !important;
    width: 53% !important;
}
